/* Fondo general */
.page {
  background: #E8F2FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja */
.login-container {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-box {
  background: white;
  padding: 35px;
  width: 340px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #cdd9f0;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: .2s;
  outline: none;
}

input:focus {
  border-color: #7aa7ff;
}

.error-text {
  color: #ff5b5b;
  font-size: 13px;
  margin-bottom: 10px;
}

/* Botón login */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #7aa7ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 15px;
}

.login-btn:hover {
  background: #5f8fff;
}

/* Divider */
.divider {
  margin: 12px 0;
  font-size: 14px;
  color: gray;
}

/* Botón Google */
.google-btn {
  width: 100%;
  background: white;
  border: 2px solid #d2d2d2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.google-btn img {
  width: 22px;
  height: 22px;
}

.google-btn:hover {
  background: #f3f3f3;
}

/* Signup link */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #3d6beb;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}


