<!-- LAYOUT GLOBAL -->

<!-- NAV SUPERIOR -->
<header class="main-header">
  <div class="header-left">
    <h1 class="logo">PsicoAgenda</h1>
  </div>

  <nav class="nav-links">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/turnos">Mis Turnos</a>
    <a routerLink="/perfil">Perfil</a>
  </nav>
</header>

<!-- HERO / PORTADA -->
<section class="hero-section">
  <div class="hero-content">
    <h2>Encuentra profesionales confiables</h2>
    <p>Agenda tus consultas fácilmente desde una plataforma moderna.</p>
  </div>
</section>

<!-- AQUÍ SE CARGAN TUS PÁGINAS -->
<router-outlet />

<!-- FOOTER GLOBAL -->
<footer class="footer-global">
  © 2025 Psico Agenda — Hecho con cariño 💙
</footer>
