.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7f4ff;
  padding: 20px;
}

.signup-box {
  background: #ffffff;
  padding: 35px;
  border-radius: 15px;
  width: 380px;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #144681;
  font-weight: bold;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #0f3663;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b9d4ee;
  background: #f4faff;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #4d9de0;
  outline: none;
  background: #ffffff;
}

.btn-crear {
  width: 100%;
  background: #4d9de0;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-crear:hover {
  background: #377bb5;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.volver {
  margin-top: 15px;
}

.volver a {
  color: #4d9de0;
  font-weight: bold;
  text-decoration: none;
}

.volver a:hover {
  text-decoration: underline;
}
